[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CuteChess
GenericName=Cute Chess - interface for playing chess
Comment=Cute Chess - interface for playing chess
Icon=cutechess
Exec=cutechess
Terminal=false
StartupNotify=false
Categories=Game;
 
