# created 16:40:27 - 22/08/09

[Desktop Entry]
Name=DNetStats
Name[es]=DNetStats
Name[it]=DNetStats
GenericName=Network monitor
GenericName[es]=Monitor de red
GenericName[it]=Controllore di rete
Comment=Network monitor
Comment[es]=Monitor de red
Comment[it]=Controllore di rete
Exec=/usr/bin/dnetstats
Icon=/usr/share/pixmaps/wp.png
Terminal=false
Type=Application
Categories=Qt;Network;Utility;
