_buildscripts
_repo
_sources
_temp
pkg
src
dbg
hdr
*~

build-desktop.sh
build.sh
check-database.sh
check-links.sh
check-so-files.sh
clean-builddir.sh
clean-database.sh
clean-workdir.sh
copy-any.sh
fakeuname
get-any.sh
makepkg
move.sh
pkgrels-decrease.sh
pkgrels-increase.sh
pkgrels-reset.sh
rebuildlist-build.sh
rebuildlist-generate.sh
recreate-database.sh
remove.sh
repoclean-local.sh
repoclean-remote.sh
show-config.sh
show-pkglists.sh
sign-remote-db.sh
sign-remote-pkg.sh
unlock-database.sh
upload-nodb.sh
upload.sh


*-cfg.conf
*-makepkg.conf
*-pkgs.conf
user.conf

*.db.tar.*
*.pkg.tar.*
*.tar.*
*.log
*.log*

