[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Arxin/ScriptedPlugin
Name=Arxin Plugin

# Version of the framework this plugin is compatible with.
# Current version: 1
[PropertyDef::X-KDE-Arxin-framework-version]
Type=int

# Where is our script? :D
[PropertyDef::X-KDE-Arxin-script-name]
Type=QString
