[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCol
GenericName=Strategy Game
GenericName[gl]=Xogo de estratexia
Comment=A turn-based strategy game based on Colonization™.
Comment[gl]=Un xogo de estratexia por quendas baseado no Colonization™.
TryExec=/usr/bin/freecol
Exec=freecol
Icon=/usr/share/pixmaps/freecol.xpm
Categories=Game;StrategyGame;
