[Desktop Entry]
Encoding=UTF-8
Name=pgAdmin 4
Exec=pgAdmin4
Icon=pgAdmin4
Type=Application
Categories=Application;Development;
DocPath=/usr/lib/pgAdmin4/usr/lib/pgAdmin4/docs/en_US/_build/html/index.html
Comment=PostgreSQL Tools
Keywords=database;db;sql;query;administration;development;
