[Desktop Entry]
Comment=Enhanced interactive Python shell
Exec=ipython
GenericName[en_US]=IPython3
GenericName=IPython3
Icon=ipython3
Name[en_US]=ipython3
Name=ipython3
Categories=Development;
StartupNotify=false
Terminal=true
Type=Application
