[Desktop Entry]
Comment=Enhanced interactive Python2 shell
Exec=ipython2
GenericName[en_US]=IPython2
GenericName=IPython2
Icon=ipython2
Name[en_US]=ipython2
Name=ipython2
Categories=Development;
StartupNotify=false
Terminal=true
Type=Application
