[Desktop Entry]
Type=Application
Version=1.0
Name=Trigger Rally
Comment=A fast-paced free software rally racing game
Icon=trigger
Exec=trigger
Categories=Game;
