[Desktop Entry]
Type=Application
Name=Sigil
Name[it]=Sigil
Comment=E-book reader and WYSIWYG editor
Comment[it]=Lettore di e.book ed editor WYSIWYG
TryExec=sigil
Exec=sigil
Icon=sigil
Categories=Office;
Terminal=false
StartupNotify=false
