[Desktop Entry]
Name=Lyx
Name[it]=Lyx
Comment=Latex WYSIWYM Editor
Comment[it]=Editor Latex WYSIWYM
Icon=/usr/share/lyx/images/lyx.png
Exec=lyx
Terminal=false
Type=Application
StartupNotify=false
Categories=Office;
