[Desktop Entry]
Name=LyX
Name[it]=LyX
Name[es]=LyX
Comment=WYSIWYM LaTeX processor
Comment[it]=Editor Latex WYSIWYM
Comment[es]=Procesador de documentos estructurados
Icon=/usr/share/lyx/images/lyx.png
Exec=lyx
Terminal=false
Type=Application
StartupNotify=false
Categories=Office;
