[Desktop Entry]
Name=Ksuperkey
Exec=ksuperkey
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=ksuperkey
