[Desktop Entry]
Comment=Jupyter qtconsole (iPython2)
Exec=jupyter-qtconsole-py2
GenericName[en_US]=Jupyter shell (iPython2)
GenericName=Jupyter shell (iPython2)
Icon=JupyterConsole-py2
Name[en_US]=Jupyter Qt console (iPython2)
Name=Jupyter Qt console (iPython2)
Categories=Development;
Terminal=false
Type=Application
