[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=media-flash
Name=Ramdisk
Comment=Configure the ramdisk


ServiceTypes=Arxin/Plugin

X-KDE-Library=arxinMkinitcpioPlugin

X-KDE-Arxin-framework=1

X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=drf54321@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=arxinMkinitcpioPlugin
X-KDE-PluginInfo-Name=arxinMkinitcpioPlugin



