[Desktop Entry]
Exec=kcmshell4 arxinMkinit
Icon=arxin32
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_arxinMkinit
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-HasReadOnlyMode=true
X-KDE-RootOnly=true
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=arxin
Categories=Qt;KDE;X-KDE-settings-computer-administration;Settings;

Name=Arxin Mkinitcpio
Comment=ArchLinux Ramdisk (mkinitcpio) Configurator
Categories=Qt;KDE;
