[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=preferences-desktop-locale
Name=Locale
Comment=Configure locales

ServiceTypes=Arxin/ScriptedPlugin

X-KDE-Library=arxinScriptedBasePlugin

X-KDE-Arxin-framework=1
X-KDE-Arxin-script-name=arxinLocale.py

X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=arxinScriptedBasePlugin
X-KDE-PluginInfo-Name=Arxin_Locale
