[Desktop Entry]
Icon=arxin
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Parent-Category=system
X-KDE-System-Settings-Category=arxin

Name=Arxin - ArchLinux Configurator
Name[it]=Arxin - Configuratore di ArchLinux

Comment=Arxin - ArchLinux Configurator
Comment[it]=Arxin - Configuratore di ArchLinux
