[Desktop Entry]
Type=Service
Name=Arxin Part
MimeType=application;
X-KDE-ServiceTypes=System/,KParts/ReadOnlyPart
X-KDE-Library=libarxin_part
Icon=arxin
