[Desktop Entry]
Version=1.0
Name=ConvertAll
Name[it]=ConvertAll
GenericName=Unit Converter
GenericName[it]=Convertitore di Unità
Comment=Convert between many different units
Comment[it]=Convertitore per molte unità di misura
Icon=convertall
Exec=convertall
Terminal=false
Type=Application
Categories=Science

