[Desktop Entry]
Encoding=UTF-8
Name=Beret
Comment=a 2D puzzle platformer
Exec=beret
Icon=/usr/share/pixmaps/beret.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;