[Desktop Entry]
Type=Application
Name=Sweethome3d Furniture Library Editor
Comment=An interior design application
TryExec=furniturelibraryeditor
Exec=furniturelibraryeditor
Icon=furniturelibraryeditor
Categories=Office;Java;
