[Desktop Entry]
Type=Application
Name=Alien Arena
Name[it]=Alien Arena
Name[de]=Alien Arena
Comment=Multiplayer retro sci-fi deathmatch
Comment[it]=Sparatutto Multiplayer ad ambientazione retro sci-fi
Comment[de]=Ein Retro-Multiplayer-Sci-Fi Deathmatch
Exec=alienarena
Icon=alienarena
Categories=Game;ActionGame;
