[Desktop Entry]
Type=Application
Name=Alien Arena
Name[it]=Alien Arena
Comment=Multiplayer retro sci-fi deathmatch
Comment[it]=Sparatutto Multiplayer ad ambientazione retro sci-fi
Exec=alienarena
Icon=/usr/share/pixmaps/alienarena.png
Categories=Game;ActionGame;
