[Desktop Entry]
Exec=assaultcube
Icon=assaultcube
Type=Application
Terminal=false
X-MultipleArgs=false
Name=AssaultCube
GenericName=Realistic Multiplayer FPS
MimeType=text/html;
StartupNotify=false
Categories=Game;ActionGame;
