[Desktop Entry]
Type=Application
Name=Calibre
Name[it]=Calibre
Comment=E-book library management
Comment[it]=Gestione libreria di ebook
TryExec=calibre
Exec=calibre
Icon=calibre-gui
Categories=Office;
