[Desktop Entry]
Type=Application
Name=LRF Viewer
Name[it]=Visualizzatore LRF
Comment=Viewer for LRF files (SONY ebook format files)
Comment[it]=Visualizzatore di file LRF (formato ebook SONY)
TryExec=lrfviewer
Exec=lrfviewer %F
Icon=calibre-viewer
MimeType=application/x-sony-bbeb;
Categories=Graphics;Viewer;
