#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Edit E-book
GenericName=Edit E-books
Comment=Edit e-books in various formats
TryExec=ebook-edit
Exec=ebook-edit --detach %f
Icon=calibre-ebook-edit
Categories=Office;
MimeType=application/x-mobi8-ebook;application/epub+zip;application/vnd.openxmlformats-officedocument.wordprocessingml.document;text/html;application/xhtml+xml;
