[Desktop Entry]
Categories=System;
Comment=Change the appearance of GTK apps
Comment[ca]=Canvieu l'aparença de les aplicacions GTK
Comment[de]=Ändere das Erscheinungsbild der GTK-Programme
Comment[es]=Cambie el aspecto de los programas GTK
Exec=gtk-chtheme
Icon=/usr/share/icons/oxygen/48x48/apps/preferences-desktop-theme.png
Name=GTK Change Theme
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false

