[Desktop Entry]
Categories=System;
Comment=Change the icon theme used by your GTK apps
Comment[ca]=Canvieu el tema d'icones de les aplicacions GTK
Comment[es]=Cambie el tema de iconos de los programas GTK
Exec=/usr/bin/gtk-icon-theme-changer
Icon=/usr/share/icons/oxygen/48x48/apps/preferences-desktop-icons.png
Name=GTK Icon Theme Changer
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false

