[Desktop Entry]
Version=1.0
Name=Sage
Comment=Sage Notebook
Comment[en_US]=Sage Notebook
Exec=/usr/lib/sage/sage -notebook
GenericName=
GenericName[de]=
Icon=sage-notebook
MimeType=
Name[de]=SAGE
StartupNotify=true
Terminal=true
Type=Application
Categories=Science;Math;
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
GenericName[en_US]=
