[Desktop Entry]
Categories=AudioVideo;Player;
Comment[de]=Wiedergabe, Aufnahme und Verbreitung Ihrer Multimedia-Streams
Comment=Wiedergabe, Aufnahme und Verbreitung Ihrer Multimedia-Streams
Comment[bn]=আপনার মাল্টিমিডিয়া স্ট্রীম পড়ুন, ধরে রাখুন এবং ছড়িয়ে দিন
Comment[ca]=Reproduïu, captureu i difoneu fluxos multimèdia
Comment[es]=Lea, capture y emita sus contenidos multimedia
Comment[et]=Multimeediafailide taasesitamine, lindistamine ja edastamine
Comment[fi]=Toista, tallenna ja lähetä multimediaa
Comment[fr]=Lire, capturer, diffuser vos flux multimedia
Comment[gl]=Lea, capture e emita os seus fluxos multimedia
Comment[hu]=Multimédiás adatfolyamok olvasása, mentése, szórása
Comment[it]=Legge, acquisisce e trasmette i tuoi flussi multimediali
Comment[ja]=マルチメディアストリームの読み込み、キャプチャー、ブロードキャスト
Comment[km]=អាន ចាប់យក ប្រកាស​ស្ទ្រីម​ពហុមេឌៀ​របស់​អ្នក
Comment[lt]=Groti, įrašyti, siųsti daugialypės terpės kūrinius
Comment[nl]=Uw multimediastreams afspelen, opnemen en uitzenden
Comment[nn]=Spel av, ta opp og send ut multimedia
Comment[pa]=ਆਪਣੀ ਮਲਟੀਮੀਡਿਆ ਸਟਰੀਮ ਪੜ੍ਹੋ, ਕੈਪਚਰ ਤੇ ਬਰਾਡਕਾਸਟ ਕਰੋ
Comment[pl]=Odczytywanie, przechwytywanie i nadawanie strumieni multimedialnych
Comment[pt_BR]=Reproduza, capture e transmita os seus fluxos multimídia
Comment[ru]=Универсальный проигрыватель видео и аудио
Comment[sk]=Naèítavajte, zaznamenávajte, vysielajte svoje multimediálne streamy
Comment[sv]=Allmän uppspelare av film och musik
Comment[wa]=Lét, egaloye, evoye vos floûs multimedia
Comment[zh_CN]=为您读取、捕获或发送多媒体流
Exec=vlc %U --ffmpeg-hw
GenericName[de]=
GenericName=
Icon=vlc
MimeType=x-content/video-vcd;x-content/video-svcd;x-content/video-dvd;x-content/audio-player;x-content/audio-cdda;video/x-nsv;video/x-msvideo;video/x-msvideo;video/x-ms-wmv;video/x-ms-asf;video/x-flv;video/x-flic;video/x-anim;video/vnd.rn-realvideo;video/quicktime;video/mpeg;video/mp4;video/mp4;video/dv;image/vnd.rn-realpix;audio/x-wav;audio/x-scpls;audio/x-pn-realaudio-plugin;audio/x-ms-asx;audio/x-mpegurl;audio/x-flac;audio/vnd.rn-realaudio;audio/vnd.rn-realaudio;audio/mpeg;audio/mpeg;audio/mpeg;audio/mp4;audio/mp4;application/x-shockwave-flash;application/x-ogg;application/x-matroska;application/vnd.rn-realmedia;application/ogg;
Name[de]=VLC Media Player (with VDPAU)
Name=VLC Media Player (with VDPAU)
Name[bn]=VLC মিডিয়া প্লেয়ার (with VDPAU)
Name[ca]=Reproductor multimèdia VLC (with VDPAU)
Name[es]=Reproductor multimedia VLC (with VDPAU)
Name[et]=VLC meediaesitaja (with VDPAU)
Name[fi]=VLC-mediasoitin (with VDPAU)
Name[fr]=Lecteur multimédia VLC (with VDPAU)
Name[gl]=Reprodutor multimedia VLC (with VDPAU)
Name[hu]=VLC médialejátszó (with VDPAU)
Name[it]=Lettore multimediale VLC (with VDPAU)
Name[ja]=VLCメディアプレイヤー (with VDPAU)
Name[km]=កម្មវិធី​ចាក់​មេឌៀ VLC (with VDPAU)
Name[lt]=VLC grotuvas (with VDPAU)
Name[nl]=VLC Mediaspeler (with VDPAU)
Name[nn]=VLC mediespelar (with VDPAU)
Name[pa]=VLC ਮੀਡਿਆ ਪਲੇਅਰ (with VDPAU)
Name[pl]=VLC media player - odtwarzacz multimedialny (with VDPAU)
Name[pt_BR]=Reprodutor de Mídias VLC (with VDPAU)
Name[ru]=Медиаплеер VLC (with VDPAU)
Name[sk]=VLC media player (with VDPAU)
Name[sv]=Mediaspelaren VLC (with VDPAU)
Name[wa]=Djouweu d' media VLC (with VDPAU)
Name[zh_CN]=VLC media player (with VDPAU)
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
