[Desktop Entry]
Comment[de]=Drake Justice's Bundle Ersteller/Starter und Paketmanager
Comment=Drake Justice's Bundle Creator/Launcher and Package-Manager
Exec=cinstall
GenericName[de]=
GenericName=
Icon=run-build-install-root
MimeType=
GenericName=Bundle/Package Management
GenericName[de]=Bundle/Paket Verwaltung
Name[de]=CInstall
Name=CInstall
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-Keywords=package,manager,management,creator,launcher
Categories=Qt;KDE;System;PackageManager;
