[Desktop Entry]
Comment=Chakra Package ChangeLogs
Comment[ca]=Registre de canvis a paquets de Chakra
Exec=xdg-open http://gitorious.org/chakra-packages
Icon=utilities-log-viewer
Name=Package ChangeLogs
Name[ca]=Registre de canvis a paquets
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
