[Desktop Entry]
Comment=Chakra Package ChangeLogs
Comment[ca]=Registre de canvis a paquets de Chakra
Comment[de]=Chakra Paketverwaltungsänderungen
Exec=xdg-open http://gitorious.org/chakra-packages
Icon=utilities-log-viewer
Name=Package ChangeLogs
Name[ca]=Registre de canvis a paquets
Name[de]=Liste der Änderungen der Pakete
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
