[Desktop Entry]
Comment=Chakra Code Repository
Comment[ca]=Repostiori de codi de Chakra
Comment[de]=Quellcode-Repositorium von Chakra
Comment[es]=Repostiorio de codigo de Chakra
Comment[fr]=Dépôt du code de Chakra
Comment[gl]=Repositorio de código de Chakra
Comment[it]=Repository del Codice di Chakra
Exec=xdg-open http://www.chakra-project.org/code.html
Icon=preferences-system
Name=Code
Name[ca]=Codi
Name[de]=Quellcode
Name[es]=Codigo
Name[fr]=Code
Name[gl]=Código
Name[it]=Codice
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
