[Desktop Entry]
Comment=Chakra Homepage
Comment[ca]=Lloc web de Chakra
Comment[de]=Chakra Webseite
Exec=xdg-open http://www.chakra-project.org
Icon=chakra-flat
Name=Homepage
Name[ca]=Lloc web
Name[de]=Webseite
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
