[Desktop Entry]
Comment=Chakra Donations
Comment[ca]=Donacions a Chakra
Comment[ca@valencia]=Donacions a Chakra
Comment[de]=Spende für Chakra
Comment[en_US]=Chakra Donations
Comment[es]=Donaciones a Chakra
Comment[fr]=Donations pour Chakra
Exec=xdg-open http://www.chakra-project.org/donate.html
Icon=applications-toys
Name=Donate
Name[ca]=Donacions
Name[ca@valencia]=Dona
Name[de]=Spende
Name[en_US]=Donate
Name[es]=Dona
Name[fr]=Donations
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
