[Desktop Entry]
Comment=Chakra Forums
Comment[ca]=Forums de Chakra
Comment[de]=Chakra Foren
Exec=xdg-open http://www.chakra-project.org/bbs/
Icon=system-users
Name=Forums
Name[de]=Foren
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
