[Desktop Entry]
Categories=Chakra;
Comment=Chalra Donations
Comment[ca]=Donacions a Chakra
Comment[es]=Donaciones a Chakra
Comment[fr]=Donations pour Chakra
Comment[it]=Donazioni per Chakra
Exec=xdg-open http://www.chakra-project.org/donate.html
GenericName=
Icon=face-wink
MimeType=
Name=Donations
Name[ca]=Donacions
Name[es]=Donaciones
Name[fr]=Donations
Name[it]=Donazioni
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
