[Desktop Entry]
Comment=Chakra Documentation
Comment[ca]=Documentaci√≥ de Chakra
Comment[it]=Documentazione di Chakra
Exec=xdg-open http://www.chakra-project.org/wiki/
Icon=system-help
Name=Documentation
Name[ca]=Documentaci√
Name[it]=Documentazione
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
