[Desktop Entry]
Comment=Chakra Homepage
Comment[ca]=Lloc web de Chakra
Comment[it]=Homepage di Chakra
Exec=xdg-open http://www.chakra-project.org
Icon=chakra-flat
Name=Homepage
Name[ca]=Lloc web
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
