[Desktop Entry]
Comment=Chakra Forums
Exec=xdg-open http://www.chakra-project.org/bbs/
Icon=system-users
Name=Forums
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
