[Desktop Entry]
Comment=Chakra Forums
Comment[ca]=Forums de Chakra
Comment[ca@valencia]=Forums de Chakra
Comment[de]=Chakra Foren
Comment[es]=Foros de Chakra
Comment[fr]=Forums de Chakra
Comment[gl]=Foros de Chakra
Exec=xdg-open http://www.chakra-project.org/bbs/
Icon=system-users
Name=Forums
Name[ca]=Forums
Name[ca@valencia]=Forums
Name[de]=Foren
Name[es]=Foros
Name[fr]=Forums
Name[gl]=Foros
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
