[Desktop Entry]
Comment=Chakra Documentation
Comment[ca]=Documentació de Chakra
Comment[it]=Documentazione di Chakra
Comment[fr]=Documentation de Chakra
Exec=xdg-open http://www.chakra-project.org/wiki/
Icon=system-help
Name=Documentation
Name[ca]=Documentació
Name[it]=Documentazione
Name[fr]=Documentation
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
