[Desktop Entry]
Comment=Chakra Bug Tracking System
Exec=xdg-open http://www.chakra-project.org/bugs/
Icon=kbugbuster
Name=Bugs
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
