[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/chakra-backup
Name=miniBackup
GenericName=Backup your most important KDE files
GenericName[ca]=Còpia de seguretat dels fitxers més importants
GenericName[es]=Copia de seguridad de los archivos más importantes
GenericName[gl]=Copia de seguridade dos ficheiros máis importantes
GenericName[it]=Copia di sicurezza dei file più importanti di KDE
X-KDE-StartupNotify=false
Icon=application-x-tarz
Terminal=false
Type=Application
Categories=Qt;System;
