[Desktop Entry]
Comment=Chakra Donations
Comment[ca]=Donacions a Chakra
Comment[it]=Donazioni per Chakra
Exec=xdg-open http://www.chakra-project.org/donate.html
Icon=applications-toys
Name=Donate
Name[ca]=Donacions
Name[it]=Donazioni
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
