[Desktop Entry]
Comment=Chakra Homepage
Exec=xdg-open http://www.chakra-project.org
Icon=chakra-flat
Name=Homepage
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
