[Desktop Entry]
Comment=Chakra Documentation
Comment[ca]=Documentació de Chakra
Comment[ca]=Documentació de Chakra
Comment[ca@valencia]=Documentació de Chakra
Comment[de]=Chakra Dokumentation
Comment[es]=Documentación de Chakra
Comment[gl]=Documentación de Chakra
Exec=xdg-open http://www.chakra-project.org/wiki/
Icon=system-help
Name=Documentation
Name[ca]=Documentació
Name[ca@valencia]=Documentació
Name[de]=Dokumentation
Name[es]=Documentación
Name[gl]=Documentación
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
