[Desktop Entry]
Encoding=UTF-8
Exec=/usr/bin/chakra-backup
Name=miniBackup
GenericName=Backup your most important KDE files
GenericName[ca]=Còpia de seguretad dels fitxers més importants
GenericName[de]=Sichern Sie ihre wichtigen KDE-Dateien
GenericName[fr]=Faire une sauvegarde des fichiers les plus importants de KDE
X-KDE-StartupNotify=false
Icon=application-x-tarz
Terminal=false
Type=Application
Categories=Qt;System;
