[Desktop Entry]
Comment=Chakra Code Repository
Exec=xdg-open http://www.chakra-project.org/code/
Icon=preferences-system
Name=Code
StartupNotify=true
Terminal=false
Type=Application
Categories=Chakra;
