# Version 0.1.1
#
[Desktop Entry]
X-SuSE-translate=true
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
ServiceTypes=all/allfiles
Actions=wholePath;attachMail;
Type=Service
X-KDE-Submenu=Copy Path
X-KDE-Submenu[ca]=Copia camí
X-KDE-Submenu[de]=Pfad kopieren
X-KDE-Submenu[el]=Αντιγραφή Διαδρομής
X-KDE-Submenu[es]=Copiar ruta
X-KDE-Submenu[fr]=Copie de chemin
X-KDE-Submenu[sv]=Kopiera sökväg

[Desktop Action wholePath]
Name=copy whole path
Name[ca]=Copia el camí sencer
Name[de]=kopiere Pfad
Name[el]=Αντιγραφή ολόκληρης διαδρομής
Name[es]=Copiar ruta completa
Name[fr]=copier le chemin complet
Name[sv]=Kopiera hela sökvägen
Icon=klipper
Exec=qdbus org.kde.klipper /klipper setClipboardContents %U

[Desktop Action attachMail]
Name=attach to kmail
Name[ca]=Adjunta al kmail
Name[de]=kmail Anhang
Name[el]=Eπισύναψη στο kmail
Name[es]=Adjuntar en kmail
Name[fr]=envoyer avec kmail
Name[sv]=Bifoga till KMail
Icon=internet-mail
Exec=kmail --attach %U