[Unit]
Description=Dropbox

[Service]
Type=simple
ExecStart=/usr/bin/dropbox
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
Environment=DISPLAY=:0 XDG_CURRENT_DESKTOP=Unity

[Install]
WantedBy=default.target

