[Desktop Entry]
Type=Application
Version=1.0
Name=Veusz
Name[it]=Veusz
GenericName=Scientific Plotter
GenericName[it]=Plotter Scientifico
Comment=Plot mathematical functions
Comment[it]=Traccia funzioni matematiche
Icon=veusz
Exec=veusz
Categories=Science;Math;Qt;
