[Desktop Entry]
Type=Application
Version=1.0
Name=Xonotic (GLX)
GenericName=First Person Shooter
GenericName[es]=Juego de tiros
GenericName[gl]=Xogo de tiros
Comment=A first person shooter (GLX interface)
Comment[es]=Un juego de tiros en primera persona (interfaz en GLX).
Comment[gl]=un xogo de tiros en primeira persoa (interface en GLX).
Icon=/usr/share/pixmaps/xonotic.svg
Exec=/usr/bin/xonotic-glx
Categories=Game;ActionGame;
