[Desktop Entry]
Type=Application
Version=1.0
Name=Xonotic (SDL)
GenericName=First Person Shooter
GenericName[es]=Juego de tiros
GenericName[gl]=Xogo de tiros
Comment=A first person shooter (SDL interface)
Comment[es]=Un juego de tiros en primera persona (interfaz en SDL).
Comment[gl]=un xogo de tiros en primeira persoa (interface en SDL).
Icon=/usr/share/pixmaps/xonotic.svg
Exec=/usr/bin/xonotic-sdl
Categories=Game;ActionGame;
