[Desktop Entry]
Name=Scummvm
Comment=Virtual machine for games
Exec=scummvm
Icon=scummvm.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Games;Application;
