[Desktop Entry]
Name=CorsixTH
Exec=corsixth
Comment=A Theme Hospital Clone
Icon=corsixth
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Game;StrategyGame;
