[Desktop Entry]
Exec=syncthing
Icon=syncthing
Name=Syncthing
GenericName=Cluster Synchronization
StartupNotify=false
Type=Application
Categories=Application;Network;
