[Desktop Entry]
Name=Secret Maryo Chronicles
Name[gl]=Secret Maryo Chronicles
Name[it]=Secret Maryo Chronicles
GenericName=Arcade Game
GenericName[gl]=Xogo arcade
GenericName[it]=Gioco Arcade
Exec=smc
Icon=smc.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;KidsGame;
StartupNotify=false
