[Desktop Entry]
Name=grass
Name[it]=grass
GenericName=GIS
GenericName[it]=GIS
Comment="Geographic Information System (GIS) used for geospatial data management and analysis"
Comment[it]="Geographic Information System (GIS) usato per la gestione e analisi di dati geospaziali."
Exec=/usr/bin/grass64 -tcltk
Icon=/usr/share/pixmaps/grass.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Science;
