[Desktop Entry]
X-KDE-Solid-Predicate=PortableMediaPlayer.supportedProtocols == 'mtp'
Type=Service
Actions=open;

[Desktop Action open]
Exec=android-file-transfer
Icon=android-file-transfer
Name=Open with Android File Trasfer
