[Desktop Entry]
Charset=
Hidden=false
Keys=duckduckgo,dd,dukgo
Name=Duck Duck Go
Query=http://duckduckgo.com/?q=\\{@}&t=chakra
ServiceTypes=SearchProvider
Type=Service
